.ticket-form{
    padding: 50px;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #f1c40f !important;
    border-color: #f1c40f !important;
    
}

.btn-primary:focus{
    border-color: #f1c40f !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.form-control:focus {
    border-color: #ffe57c !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
  }

  .card{
      padding: 40px;
  }